body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 2rem;
  }
  
  article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  p {
    margin: 0;
  }
  
  /* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #7f4caf;
  color: white;
  padding: 1.5rem 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Estilos del contenido principal */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Estilos de los artículos */
article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
}

article h2 {
  border-bottom: 2px solid #7f4caf;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #852dd8;
}

article p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

/* Añadir alguna animación */
article {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  header, footer {
    padding: 1rem;
  }

  main {
    padding: 0 0.5rem;
  }

  article {
    padding: 1rem;
  }

  article h2 {
    font-size: 1.25rem;
  }
  table td,table th {
    padding: 0
}

.c5 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #cc4125;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #c9daf8;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #b4a7d6;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c16 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #c9daf8;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 189.1pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c11 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffe599;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c4 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #b6d7a8;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffe599;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 189.1pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c3 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 73.1pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c8 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c15 {
    background-color: #ffe599
}

.c13 {
    background-color: #fff2cc
}

.c6 {
    height: 25pt
}
.c26 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #dd7e6b;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 63pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c23 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #b4a7d6;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 63pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c212 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #c9daf8;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 189.1pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c29 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffe599;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 189.1pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c27 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #fff2cc;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 63pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c25 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #b6d7a8;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 63pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c20 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 73.1pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c211 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 63pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c24 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c22 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c214 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c216 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto
}

.c215 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c217 {
  background-color: #fff2cc
}

.c213 {
  background-color: #c9daf8
}

.c28 {
  height: 25pt
}

.c210 {
  background-color: #ffe599
}
}
